<% if user_signed_in? %>
  <p class="navbar-text pull-right">
  	Logged in as <%= link_to(current_user.name, edit_user_registration_path) %>
  </p>
<% else %>
  <p class="navbar-text register pull-right">
  <%= link_to('Register', new_user_registration_path)  %>
  </p>
<% end %>