<% provide(:currentPage, 'Contact') %>
<h1>Contact Us</h1>
<div style="padding: 30px 0px;">
<p style="font-size:18px">Found an issue? Report it <a href="https://github.com/holdtotherod/decide/issues" target="_blank">here</a>. Thanks!<br><br>-The Decide Team</p>
</div>
