<% provide(:currentPage, 'Home') %>
<header class="jumbotron masthead">
  <div class="inner">
    <h1>Decide. Together. Now.</h1>
    <p>Make group decisions in real-time,<br>no matter where you are.</p>
    <p class="download-info">
      <%= link_to "Google Signup", user_omniauth_authorize_path(:google), {:class => "btn btn-primary btn-large"} %>
	  <%= link_to "Boring Signup", new_user_registration_path, {:class => "btn btn-large"} %>
    </p>
  </div>
</header>
<hr class="soften">

<div class="row">
    <div class="span4 offset1">
      <h2>Real-time Decisions</h2>
      <p>Decicions are completely event-driven. From voting, adding comments, or suggesting new choices, you won't even have to refresh the page. Watch as your whole group decide together live, and make your decisions that much faster.</p>
      <img class="bs-icon" width="300" src="http://4.bp.blogspot.com/_Sqpj4xk8k0k/TQYR7pJhAUI/AAAAAAAACbo/m_0_QKydxuI/s400/silhouette%2Bfriends%2B1.jpg">
      <h2>Calling All Phones</h2>
      <p>Doesn't matter what kind of phone you have, you can still participate on the go. Just make sure to add your phone number (you'll have to use the Boring Signup), and use SMS to interract with our service, thanks to Twilio!</p>
      <img class="bs-icon" width="300" src="http://www.twilio.com/blog/wp-content/blogs.dir/8/files/6a0105364227ca970b0120a87aa0c3970b-800wi.jpg">
    </div>
    <div class="span4 offset2">
      <h2>iOS App Coming Soon!</h2>
      <p>Ok, we're a little biased. All of the Decide Team has some experience making iOS apps, so we're hard at work making an iPhone app! Stay tuned to hear about becoming one of our first beta testers.</p>
      <img class="bs-icon" width="300" src="assets/decide_ios.jpg">
    </div>
  </div><!--/row-->
