<% provide(:currentPage, 'Home') %>
<h1>Making group decisions easer.</h1>
<p>Decide together. No matter where you are.</p>

<p style="text-align:center">
<%= link_to "Google Signin", user_omniauth_authorize_path(:google), {:class => "btn btn-primary"} %>
</p>
