
<div id="discussion-header"><h2>Discussion</h2></div>

<div id="page_discussion" class="page_discussion"></div>
<button class="btn btn-primary" id="new_thread">Comment</button>
<script>
	discussion = new Discussion(<%= @discussion.entries_as_json.to_json.html_safe %>,{
		id:<%= @discussion.id %>
	});

	$("#page_discussion").append(discussion.build());
	$("#new_thread").click(function(evt){
		evt.stopPropagation();
		if($(".comment_input_container")[0]){
			return;
		}
		var well = $('<div class="well comment_input_container">');
		well.hide();
		var comment_input = $('<textarea class="comment_input">');
		well.append(comment_input);
		var comment_btn = $('<button class="btn">Save</button>');
		comment_btn.click(function(e){
			$.post(
                              '/discussion/new_comment/' + discussion.id, 
                              {text: comment_input.val()},
                              function (data) {
                                if(data.status == 'success')
                                {
					well.remove();
                                        discussion.add_new_entry(data.entry_info)
                                        socket.emit('new comment', {entry_info: data.entry_info})
                                }
                                else
                                  console.error(data.message)
                              });
		});
		well.append(comment_btn);
 		$("#page_discussion").append(well);
		comment_input.focus();
		$(document).click(function(e){
			well.fadeOut('slow',function(){
				well.remove();
			});
		});
		well.click(function(e){
			e.stopPropagation();
		});
		well.fadeIn('fast',function(){});
	});
</script>
