
<h2>Discussion</h2>

<div id="page_discussion" class="page_discussion row-fluid"></div>
<button class="btn btn-primary" id="new_thread">Comment</button>
<script>
	discussion = new Discussion(<%= generate_entries(@discussion.top_level_entries).to_json.html_safe %>,{
		id:<%= @discussion.id %>
	})
</script>