
<div id="discussion-header"><h2>Discussion</h2></div>

<div id="page_discussion" class="page_discussion"></div>
<script>
	discussion = new Discussion(<%= @discussion.entries_as_json.to_json.html_safe %>,{
		id:<%= @discussion.id %>
	});

	$("#page_discussion").append(discussion.build());
</script>
