// Place all the styles related to the Discussion controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#discussion_reply {
  display:none;
}

#page_discussion {
  margin-bottom: 20px;
  .children {
    padding-left:20px;
    border-left: 5px solid #CCCCCC;
  }
  .comment_input_container,
  .reply_input_container{
    border-radius: 0px;
    margin: 10px 0px;
  }
  .comment_input{
    max-width: 100%;
    width: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
  }
  .entry {
    border-bottom: 1px solid #DDDDDD;
    padding: 5px 65px 5px 5px;
    overflow:hidden;
    position:relative;
    .content {
      float:left;
      font-size: 12pt;
    }
    .info {
      float:left;
      clear:both;
      font-size: 9pt;
      color: #999;
      font-style: italic;
      padding-top: 5px;
      span {
        margin-right: 10px;
      }
    }
    .reply-button {
      position:absolute;
      right:5px;
      top: 5px;
    }
  }
  .entry:hover {
    background-color: whiteSmoke;
  }
}
