// Place all the styles related to the Discussion controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#discussion_reply {
  display:none;
}
