<header>
	<div class="navbar">
	  <div class="navbar-inner">
	    <div class="container">
	    	<a href="/" class="brand">
	    		Decide
	    	</a>
	    	<ul class="nav pull-left">
	    		<li><a href="/decisions">Decisions</a></li>
	    	</ul>
			<ul class="nav pull-right">
			  <%= render 'devise/menu/registration_items' %>
			  <%= render 'devise/menu/login_items' %>
			</ul>
	    </div>
	  </div>
	</div>
</header>